.aPieFooter{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.aPieFooter:hover{
    color: rgb(151, 151, 151);
}

.PieAbajo{
    display: flex;
    align-items: center;
    justify-content: center;
}