@import url(../css/fonts.css);

.nombre{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00000073;
}

.divTabla{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
    min-height: 40px;
}

td{
    height: 30px;
}

.tdNombreEmpresa{
    width: 800px;
}

.tdCheck{
    text-align: center;
    width: 80px;
    transform: scale(0.55, 0.55);
}

.tdButton{
    text-align: center; 
}

.btnEliminar{
    background: #ec0303;
    height: 25px;
    width: 60px;
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;

    color: white;
    font-size: 12px;
}
        
.btnEliminar:hover{
    background: #810505;
    transform: scale(0.98, 0.98);
}


.txtExtra{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    color: rgba(52, 52, 53, 0.5);
}




.BotonGeneral{
    width: 150px;
}