.Botones{
	padding-top: 20px;
}

.divContenedor{
    text-align: center;
}


/* Grid para los campos */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 5%;
    /*background-color: #2196F3;*/
    padding-left: 11%;
    padding-right: 11%;
}

.grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;*/
    text-align: center;
    font-size: 18px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px 5px rgba(63, 56, 141, 0.35);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.grid-container > div:hover{
    transform: scale(0.95, 0.95);
    cursor: pointer;
}
